In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import logging

In [2]:
logging.basicConfig(level=logging.INFO)

In [10]:
def data_load():
    customer=pd.read_csv("Documents/ML_Competetion/Python Project/Sales project 1/cleaned_customer.csv",parse_dates=["first_join_date"])
    product=pd.read_csv("Documents/ML_Competetion/Python Project/Sales project 1/cleaned_product.csv")
    trans=pd.read_csv("Documents/ML_Competetion/Python Project/Sales project 1/cleaned_transactions.csv",parse_dates=["created_at","shipment_date_limit"])
    click=pd.read_csv("Documents/ML_Competetion/Python Project/Sales project 1/cleaned_click_stream.csv",parse_dates=["event_time"])
    logging.info("Data Load Succesfully")
    return customer, product, trans, click

In [21]:
def created_feature(trans):
    trans['revenue']=trans['sales']
    trans['order_date']=trans['created_at']
    trans['month']=trans['created_at'].dt.to_period('M')
    return trans

In [14]:
customer,product,trans,click=data_load()

INFO:root:Data Load Succesfully

In [22]:
trans=created_feature(trans)

In [23]:
trans.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,sales,revenue,order_date,month
0,2018-07-29 15:22:01.458193,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03 05:07:24.812676,-8.227893,111.969107,199832,54728,1,191247,191247,191247,2018-07-29 15:22:01.458193,2018-07
1,2018-07-30 12:40:22.365620,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,No promo code,10000,2018-08-03 01:29:03.415705,3.013470,107.802514,155526,16193,1,145526,145526,145526,2018-07-30 12:40:22.365620,2018-07
2,2018-09-15 11:51:17.365620,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,No promo code,10000,2018-09-18 08:41:49.422380,-2.579428,115.743885,550696,53686,4,135174,540696,540696,2018-09-15 11:51:17.365620,2018-09
3,2018-11-01 11:23:48.365620,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,No promo code,0,2018-11-05 17:42:27.954235,-3.602334,120.363823,271012,20228,1,271012,271012,271012,2018-11-01 11:23:48.365620,2018-11
4,2018-12-18 11:20:30.365620,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,No promo code,0,2018-12-23 17:24:07.361785,-3.602334,120.363823,198753,55220,1,198753,198753,198753,2018-12-18 11:20:30.365620,2018-12